<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yiidii.pigeon.rbac.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="cn.yiidii.pigeon.rbac.api.entity.User">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="salt" property="salt"/>
        <result column="name" property="avatar"/>
        <result column="email" property="salt"/>
        <result column="mobile" property="mobile"/>
        <result column="sex" property="sex"/>
        <result column="avatar" property="avatar"/>
        <result column="desc" property="desc"/>
        <result column="sex" property="sex"/>
        <result column="pwd_err_times" property="pwdErrTimes"/>
        <result column="last_pwd_err_time" property="lastPwdErrTime"/>
        <result column="last_login_time" property="lastLoginTime"/>
        <result column="create_time" property="createTime"/>
        <result column="created_by" property="createdBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="updated_by" property="updatedBy"/>
    </resultMap>

    <resultMap id="UserBOResultMap" type="cn.yiidii.pigeon.rbac.api.bo.UserBO">
        <id column="id" property="id"/>
        <result column="org_id" property="orgId"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="name" property="name"/>
        <result column="email" property="email"/>
        <result column="password" property="mobile"/>
        <result column="sex" property="sex" javaType="cn.yiidii.pigeon.rbac.api.enumeration.Sex" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"/>
        <result column="avatar" property="avatar"/>
        <result column="status" property="status"/>
        <result column="source" property="source"/>
        <result column="uuid" property="uuid"/>
        <result column="desc" property="desc"/>
        <result column="pwd_err_times" property="pwdErrTimes"/>
        <result column="last_pwd_err_time" property="lastPwdErrTime"/>
        <result column="last_login_time" property="lastLoginTime"/>
        <collection property="roles" ofType="cn.yiidii.pigeon.rbac.api.bo.RoleBO">
            <result column="r_id" property="id"/>
            <result column="r_code" property="code"/>
            <result column="r_name" property="name"/>
            <result column="r_desc" property="desc"/>
        </collection>
        <collection property="resources" ofType="cn.yiidii.pigeon.rbac.api.bo.ResourceBO">
            <result column="rr_resId" property="resourceId"/>
            <result column="rr_type" property="type"/>
        </collection>
    </resultMap>

    <select id="getUserBOByUsername" resultMap="UserBOResultMap" resultType="cn.yiidii.pigeon.rbac.api.bo.UserBO">
        SELECT
            u.*,
            r.id r_id, r.code r_code, r.name r_name, r.desc r_desc,
            rr.role_id rr_rid, rr.resource_id rr_resId, rr.type rr_type
		FROM
			user u
			LEFT JOIN user_role ur ON u.id = ur.user_id
			LEFT JOIN role r ON r.id = ur.role_id
			LEFT JOIN role_resource rr ON rr.role_id = r.id
		WHERE
			u.username = #{username} and u.status <![CDATA[ != ]]> 20
    </select>
    <select id="getUserPermissionByUid" resultType="java.lang.String">

    </select>


</mapper>
